[submodule "mobile-apps"]
	path = mobile-apps
	url = https://github.com/karoljanic/mobile-apps
[submodule "algorithms-and-data-structures"]
	path = algorithms-and-data-structures
	url = https://github.com/karoljanic/algorithms-and-data-structures
[submodule "computer-architecture-and-operating-systems"]
	path = computer-architecture-and-operating-systems
	url = git@github.com:karoljanic/computer-architecture-and-operating-systems.git
[submodule "algorithms-discrete-optimisation"]
	path = algorithms-discrete-optimisation
	url = git@github.com:karoljanic/algorithms-discrete-optimisation.git
[submodule "introduction-to-artificial-intelligence"]
	path = introduction-to-artificial-intelligence
	url = git@github.com:karoljanic/introduction-to-artificial-intelligence.git
[submodule "programming-technologies"]
	path = programming-technologies
	url = git@github.com:karoljanic/programming-technologies.git
[submodule "probabilistic-methods-and-statistics"]
	path = probabilistic-methods-and-statistics
	url = git@github.com:karoljanic/probabilistic-methods-and-statistics.git
[submodule "databases"]
	path = databases
	url = git@github.com:karoljanic/databases.git
